<title><%= post.seo_title || post.title %></title>

<!-- Structured data for article-->
<%= article_structured_data(post, breadcrumbs) if post.present? %>

<!-- Canonical url -->
<link rel="canonical" href="<%= get_full_url(dynamic_prefix(public_post_path(post))) %>" />

<!-- Tags -->
<meta name="description" content="<%= post.seo_description || post.description %>"/>

<!-- OG -->
<meta name="og:locale" content="<%= @workspace_settings.locale %>"/>
<meta name="og:type" content="website"/>
<meta name="og:title" content="<%= post.og_title || post.title %>"/>
<meta name="og:description" content="<%= post.seo_description || post.description %>"/>
<meta name="og:url" content="<%= get_full_url(dynamic_prefix(public_post_path(post))) %>"/>
<meta name="og:site_name" content="<%= @page_settings.name %>"/>
<meta name="og:image" content="<%= get_post_og_image_url(post) %>"/>

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="<%= get_full_url(dynamic_prefix(public_post_path(post))) %>"/>

<!--Umami Analytics -->
<%= render "public/shared/head/analytics" rescue nil %>

<!--Preload post images-->
<% if @post.cover_image.attached? %>
  <%= tag.link rel: "preload", as: "image", href: url_for(@post.cover_image) %>
<% end %>