<title>You searched for: <%= search_query %> | <%= @page_settings.name %></title>

<meta name="robots" content="noindex, follow">

<!-- Tags -->
<meta name="description" content="<%= @page_settings.seo_description %>"/>

<!-- OG -->
<meta name="og:locale" content="<%= @workspace_settings.locale %>"/>
<meta name="og:type" content="website"/>
<meta name="og:title" content="<%= @page_settings.name %>"/>
<meta name="og:description" content="<%= @page_settings.seo_description %>"/>
<meta name="og:url" content="<%= get_full_url(dynamic_prefix("/archive/s=#{search_query}")) %>"/>
<meta name="og:site_name" content="<%= @page_settings.name %>"/>
<meta name="og:image" content="<%= @page_settings.og_image.present? ? Rails.application.routes.url_helpers.url_for(@page_settings.og_image) : '' %>"/>

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="<%= get_full_url(dynamic_prefix("/archive/s=#{search_query}")) %>"/>

<!-- TODO: Umami Analytics -->
<%= render "public/shared/head/analytics" rescue nil %>
