<% content_for :title, t('newsletters.all_newsletters') %>
<div class="py-10">
  <div class="">
    <!-- Header Section -->
    <div class="flex justify-between items-center mb-8">
      <h1><%= t('newsletters.workspace_newsletters') %></h1>
    </div>

    <div class="mb-10">
      <%= render partial: 'shared/flashes' %>
    </div>

    <% unless FeatureGuard.enabled?(:postmark) %>
      <div class="mb-10">
        <%= render 'shared/notices/disabled_feature_notice',
                   title: t('newsletters.feature_disabled'),
                   message: t('newsletters.enable_postmark_message') %>
      </div>
    <% end %>

    <!-- Posts List -->
    <div class="grid grid-cols-3 gap-4">
      <!-- Post Item -->
      <%= render partial: "newsletters/newsletter", collection: @newsletters %>

      <%= link_to new_newsletter_path, class: "relative rounded-xl border-2 border-dashed border-gray-300 p-6 hover:border-blue-400 transition-colors min-h-32" do %>
        <div class="absolute inset-0 flex flex-col items-center justify-center">
          <div class="w-12 h-12 rounded-full bg-blue-50 flex items-center justify-center text-blue-600 group-hover:bg-blue-100 transition-colors mb-2">
            <i class="iconoir-plus text-3xl text-blue-500"></i>
          </div>
          <span class="text-sm font-medium text-gray-900"><%= t('newsletters.create_new') %></span>
          <span class="text-sm text-gray-500"><%= t('newsletters.create_new_group') %></span>
        </div>
      <% end %>

    </div>
  </div>
</div>
