<% content_for :head do %>
  <%= render "public/shared/head/search", search_query: @search_query %>
<% end %>

<div class="wrapper min-h-screen">
  <section class="hero-header">
    <h1>Search results for: <%= @search_query %></h1>
    <div class="breadcrumbs">
      <% default_breadcrumbs("Search").each do |breadcrumb| %>
        <% if breadcrumb[:url].present? %>
          <%= link_to(breadcrumb[:title], breadcrumb[:url]) %>
          <i class="iconoir-nav-arrow-right"></i>
        <% else %>
          <p>
            <%= breadcrumb[:title] %>
          </p>
        <% end %>
      <% end %>
    </div>
  </section>
  <section class="mt-10 relative">
    <% if @posts.length > 0 %>
      <div class="posts">
        <%= render partial: "public/blog_1/pages/post", collection: @posts %>
      </div>
      <%= pagy_navigation %>
    <% else %>
      <p class="text-center">
        Nothing matched your search terms.
        Please try again with some different keywords.
      </p>
    <% end %>
  </section>
</div>
