<div data-controller="image_input">
  <div class="flex justify-between mb-1">
    <%= form.label field, field_label, class: "block text-sm font-medium mb-1" %>
  </div>
  <div class="flex items-center gap-x-5">
    <div class="<%= defined?(size) && size&.presence || 'h-36 w-36' %> <%= image.attached? ? "block" : "hidden" %> rounded-lg overflow-hidden" data-image_input-target="attached">
      <%= image.attached? ? (image_tag image, class: "w-full h-full object-contain") : nil %>
    </div>
    <div class="<%= defined?(size) && size&.presence || 'h-36 w-36' %> <%= !image.attached? ? "flex" : "hidden" %> rounded-lg border-2 border-dashed border-gray-300 items-center justify-center bg-white" data-image_input-target="placeholder">
      <i class="iconoir-media-image text-3xl text-gray-300"></i>
    </div>
    <div class="flex flex-col gap-5 <%= defined?(controls_class) && controls_class %>">
      <%= form.file_field field, class: "file-input file-input-sm", disabled: @disable_controls %>
      <% if defined?(recommendation) %>
        <p class="text-xs opacity-60 mt-2"><%= recommendation %></p>
      <% end %>
      <% if image.attached? %>
        <div class="flex justify-between items-center">
          <%= form.label ("remove_" + field.to_s).to_sym, "Remove", class: "text-sm font-medium mr-2" %>
          <%= form.check_box ("remove_" + field.to_s).to_sym, class: "toggle toggle-primary checked:bg-primary checked:text-white checked:border-primary", "data-image_input-target": "deleteToggle", "data-action": "change->image_input#onDeleteToggleChanged" %>
        </div>
      <% end %>
    </div>
  </div>
</div>