<% content_for :title, t('members.title') %>
<div class="mx-auto max-w-3xl py-10">
  <%= link_to authors_path do %>
    <div class="flex gap-x-2 items-center text-sm opacity-70 cursor-pointer hover:opacity-50 active:opacity-40">
      <i class="iconoir-arrow-left"></i>
      <p><%= t('authors.back_to_authors') %></p>
    </div>
  <% end %>
  <div class="flex justify-between mb-5 mt-2">
    <div>
      <h1 class="font-bold"><%= t('members.title') %></h1>
    </div>
    <%= link_to t('members.new_member'), new_member_path, class: "btn btn-primary" if @can_manage_members %>
  </div>

  <%= render partial: 'shared/flashes' %>

  <div class="mt-10 flex flex-col gap-y-10">

    <div class="card card-border border-base-300 bg-white">
      <ul class="divide-y">
        <% @members.each do |member| %>
          <li class="flex justify-between items-center px-5 py-5">
            <div class="flex items-center">
              <%= member.avatar.html_safe %>
              <div class="pl-5">
                <p><%= member.formatted_name %></p>
                <% if member.user == current_user %>
                  <div class="badge badge-sm badge-outline"><%= t('members.you') %></div>
                <% end %>
                <% if @workspace.owner?(member.user) %>
                  <div class="badge badge-sm badge-neutral"><%= t('roles.owner') %></div>
                <% else %>
                  <% member.roles.each do |role| %>
                    <div class="badge badge-sm badge-accent"><%= role %></div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <% if @can_manage_members %>
              <div class="mt-2">
                <%= link_to edit_member_path(member) do %>
                  <i class="iconoir-edit-pencil text-2xl"></i>
                <% end %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
