<article>
  <section class="hero py-12 bg-primary text-white relative">
    <div class="wrapper flex ltr:gap-x-10 rtl:gap-x-reverse justify-center">
      <div>
        <p class="uppercase text-xs font-medium">Authors</p>
        <h1 class="font-bold text-5xl mt-5"><%= @author.formatted_name %></h1>
        <p class="text-slate-400 mt-3"><%= @author.position %></p>
        <p class="mt-10 text-xl leading-8 max-w-[500px]">
          <%= @author.long_description %>
        </p>
      </div>
      <div>
        <%= @author.avatar(size: 10, css_class: 'rounded-none').html_safe %>
        <div class="flex items-center mt-4 ltr:gap-x-3 rtl:gap-x-reverse">
          <a class="w-10 h-10 bg-blue-900 hover:bg-orange-400 flex items-center justify-center" href="https://x.com/danshipit" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7" viewBox="0 0 512 512" fill="#fff"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
          </a>
          <a class="w-10 h-10 bg-blue-900 hover:bg-orange-400 flex items-center justify-center" href="https://x.com/danshipit" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7" viewBox="0 0 320 512" fill="#fff"><path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg>
          </a>
          <a class="w-10 h-10 bg-blue-900 hover:bg-orange-400 flex items-center justify-center" href="https://x.com/danshipit" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-7 h-7" fill="#fff"><path d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"/></svg>
          </a>
          <a class="w-10 h-10 bg-blue-900 hover:bg-orange-400 flex items-center justify-center" href="https://x.com/danshipit" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-7 h-7" fill="#fff"><path d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 20.9 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6H493.4z"/></svg>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="w-[1000px] mx-auto mt-5">
    <h2 class="font-bold text-center mt-16">Author's articles</h2>
    <div class="wrapper grid grid-cols-3 gap-y-16 mt-10 ltr:gap-x-5 rtl:gap-x-reverse">
      <%= render partial: "public/basic/authors/post", collection: @author.posts %>
    </div>
  </div>
</article>
