<% content_for :head do %>
  <%= render "public/shared/head/category", category: @category, breadcrumbs: category_breadcrumbs %>
<% end %>

<div class="min-h-screen">
  <section class="pt-10 px-4 sm:px-6 lg:px-8">
    <div class="hero-header max-w-7xl mx-auto">
      <div class="breadcrumbs border w-fit px-6 mx-auto mb-5">
        <% category_breadcrumbs.each do |breadcrumb| %>
          <% if breadcrumb[:url].present? %>
            <%= link_to(breadcrumb[:title], breadcrumb[:url]) %>
            <i class="iconoir-nav-arrow-right"></i>
          <% else %>
            <p class="">
              <%= breadcrumb[:title] %>
            </p>
          <% end %>
        <% end %>
      </div>
      <h1 class="text-center"><%= @category.name %></h1>
      <% if @category.description.present? %>
        <p class="md:text-xl leading-8 text-gray-600 text-md mt-4 text-center max-w-3xl mx-auto"><%= @category.description %></p>
      <% end %>
    </div>
  </section>
  <section class="mt-5 my-10 md:my-20 relative max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="font-bold mb-5 md:mb-10 text-center md:text-left">Articles in <%= @category.name %> category</h2>
    <div class="mx-auto space-y-16 w-full">
      <% if @posts.count > 0 %>
        <%= render partial: "public/help_docs_1/pages/post", collection: @posts %>
      <% else %>
      <p>There are no articles in this category yet 😢</p>
      <% end %>
    </div>
    <%= pagy_navigation %>
  </section>
</div>
