<% content_for :title, t('authors.title') %>
<div class="pt-10">
  <div class="">
    <!-- Header Section -->
    <div class="flex justify-between items-center mb-8">
      <h1><%= t('authors.title') %></h1>

      <div class="flex items-center gap-x-2">
        <%= link_to @can_manage_members ? t('members.manage_members') : t('members.see_members'), members_path, class: "btn btn-neutral btn-outline mr-2" %>

        <%= link_to t('authors.create_new_author'), new_member_path, class: "btn btn-primary" if @can_manage_members %>
      </div>
    </div>

    <div class="mb-10">
      <%= render partial: 'shared/flashes' %>
    </div>

    <!-- Posts List -->
    <% if @authors.any? %>
      <div class="">
        <!-- Post Item -->
        <%= render partial: "authors/author", collection: @authors, locals: { can_manage_members: @can_manage_members } %>

        <%= pagy_navigation %>

      </div>
    <% else %>
      <div class="flex items-center flex-col gap-y-5 justify-center h-64">
        <p class="font-bold text-lg"><%= t('authors.no_authors') %></p>
      </div>
    <% end %>
  </div>
</div>
