<% content_for :head do %>
  <%= render "public/shared/head/categories", author: @author, page_settings: @page_settings %>
<% end %>


<div class="min-h-screen">
  <section class="pt-5 md:pt-10">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="hero-header">
        <div class="breadcrumbs w-fit mb-5">
          <% default_breadcrumbs("Categories").each do |breadcrumb| %>
            <% if breadcrumb[:url].present? %>
              <%= link_to(breadcrumb[:title], breadcrumb[:url]) %>
              <i class="iconoir-nav-arrow-right"></i>
            <% else %>
              <p class="">
                <%= breadcrumb[:title] %>
              </p>
            <% end %>
          <% end %>
        </div>
        <h1 class="text-left">Find all categories</h1>
      </div>
    </div>
  </section>
  <section class="my-10 md:my-20 relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-2 gap-8 sm:grid-cols-2 sm:gap-12 md:grid-cols-3 lg:gap-y-16 xl:grid-cols-4">
      <%= render partial: "public/changelog_1/categories/category", collection: @categories %>
    </div>
    <%= pagy_navigation %>
  </section>
</div>
