<% content_for :title, t('workspaces.select_workspace') %>

<div class="flex min-h-screen w-full items-center justify-center">
  <!-- Left side - Auth form -->
  <div class="card w-full md:w-fit md:min-w-[500px] p-10 drop-shadow-lg bg-white">
    <div class="w-full max-w-md">
      <div class="mb-8 flex items-center justify-center">
        <%= image_tag("logo-with-text.png", width: 120) %>
      </div>

      <div class="w-full">

        <!-- Sign In Content -->
        <div class="space-y-6">
          <div>
            <h1 class="text-3xl font-bold text-center"><%= t('workspaces.select_workspace') %></h1>
          </div>

          <div class="space-y-1">
            <% @workspaces.each do |workspace| %>
              <%= link_to workspace_path(workspace), class: 'flex justify-between items-center hover:bg-base-200 active:opacity-50 p-3 rounded-lg' do %>
                <div class="flex items-center">
                  <%= workspace.avatar.html_safe %>
                  <h2 class="ml-3 text-lg font-medium"><%= workspace.title %></h2>
                </div>
                <div>
                  <i class="iconoir-nav-arrow-right text-2xl"></i>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="relative my-6">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-200"></div>
          </div>
          <div class="relative flex justify-center text-xs uppercase">
            <span class="bg-white px-2 text-gray-500"><%= t('common.or') %></span>
          </div>
        </div>

        <%= button_to t('workspaces.create_new'), workspaces_path, method: :post, class: "btn btn-neutral btn-lg w-full btn-disabled" %>

        <div class="mt-6 text-center text-sm flex flex-col space-y-2">
          <div>
            <%= link_to t('common.go_back'), request.referer || root_path, class: "cursor-pointer hover:underline ml-1 text-gray-500 hover:underline" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
