<!DOCTYPE html>
<html lang="<%= @workspace_settings.html_lang %>" dir="<%= @workspace_settings.html_lang.start_with?('ar') ? 'rtl' : 'ltr' %>">

<%= render "layouts/public/shared/head" %>

<body>
<%= render "layouts/public/shared/header" %>

<main class="">
  <%= yield %>
  <%= @page_settings.body_html&.html_safe %>
</main>

<%= render "layouts/public/shared/newsletter_subscribe" %>
<%= render "layouts/public/shared/footer" %>
<%= render "layouts/public/shared/theme" %>
</body>
</html>
