<div id="<%= dom_id(link) %>" class="flex items-center justify-between p-3.5" data-links-target="link" data-id="<%= link.id %>" data-sort="<%= link.order %>">
  <%= hidden_field_tag "links[][order]", link.order %>
  <%= hidden_field_tag "links[][id]", link.id %>
  <div class="flex items-center gap-x-4">
    <div class="items-center flex gap-x-2">
      <i class="<%= social_media_icon(link.title) %>"></i>
      <p class="text-xs text-gray-400"><%= link.url %></p>
    </div>
  </div>
  <div class="flex items-center gap-x-2">
    <div class="badge select-none">
      <p class="text-xs text-gray-500"><%= link.title %></p>
    </div>
    <%= link_to edit_author_author_link_path(@author, link), data: { turbo_frame: "edit_link" }, turbo: true do %>
      <div class="rounded w-6 h-6 flex items-center justify-center hover:bg-gray-200 active:opacity-50 cursor-pointer">
        <i class="iconoir-edit"></i>
      </div>
    <% end %>
    <div data-action="click->author_links#remove" data-link-id="<%= link.id %>">
      <div class="rounded w-6 h-6 flex items-center justify-center hover:bg-gray-200 active:opacity-50 cursor-pointer">
        <i class="iconoir-trash"></i>
      </div>
    </div>
  </div>

</div>
