<%= turbo_frame_tag "new_link" do %>
  <dialog id="my_modal_3" class="modal modal-open">
    <div class="modal-box">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" data-action="click->author_links#closeModal">✕</button>
      <h3 class="font-bold text-lg">Add new author link</h3>
      <p class="mt-2 text-sm text-gray-400">Adding authors' improves page's authority and improves SEO.</p>
      <%= form_with(model: @link, url: author_author_links_path, local: false, turbo: true, data: { action: "submit->author_links#closeModal" }) do |form| %>
        <div class="flex flex-col gap-y-2 mt-4">
          <div>
            <%= form.label :title, "Social media", class: "block text-sm font-medium mb-1" %>
            <%= form.select :title,
                            options_for_select(@social_media_options),
                            {},
                            { class: "select select-bordered w-full" }
            %>
          </div>

          <div>
            <%= form.label :url, class: "block text-sm font-medium mb-1" %>
            <%= form.url_field :url, placeholder: 'https://example.com/blog', class: "w-full text-sm mr-5" %>
          </div>

          <%= form.submit 'Save link', class: 'btn btn-neutral mt-2' %>
        </div>
      <% end %>
    </div>
  </dialog>
<% end %>
