<% content_for :head do %>
  <%= render "public/shared/head/page" %>
<% end %>

<div class="wrapper">
  <section class="hero-header">
    <h1><%= @page_settings.title %></h1>
    <p class="mt-3 max-w-2xl text-center md:text-left"><%= @page_settings.description %></p>
  </section>
  <section class="mt-5 md:mt-10 relative">
    <div class="posts">
      <%= render partial: "public/blog_1/pages/post", collection: @posts %>
    </div>
    <div class="flex items-center justify-center mt-5">
      <%= link_to "View all", dynamic_prefix(public_archive_path), class: "btn btn-sm" %>
    </div>
  </section>
  <div class="mt-10 flex flex-col gap-y-5 md:gap-y-10">
    <!-- Categories -->
    <% @category_tree.each do |tree| %>
      <section>
        <div class="flex items-center justify-between md:flex-row flex-col gap-y-2">
          <h2>
            <%= link_to tree[:category].name, dynamic_prefix(public_category_path(tree[:category])), class: "pressable" %>
          </h2>
          <%= link_to "View all", dynamic_prefix(public_category_path(tree[:category])), class: "btn btn-sm" %>
        </div>
        <div class="posts mt-5 md:mt-10">
          <%= render partial: "public/blog_1/pages/post", collection: tree[:posts] %>
        </div>
      </section>
    <% end %>
  </div>
</div>
