<% content_for :title, "CTA settings" %>
<div class="mx-auto max-w-3xl py-10">
  <%= form_with(model: @page_settings, url: pages_settings_cta_path, method: :patch) do |form| %>
    <%= link_to pages_settings_path do %>
      <div class="flex gap-x-2 items-center text-sm opacity-70 cursor-pointer hover:opacity-50 active:opacity-40">
        <i class="iconoir-arrow-left"></i>
        <p>Back to settings</p>
      </div>
    <% end %>
    <div class="flex justify-between mb-5 mt-2">
      <div>
        <h1 class="font-bold">Call-to-action Settings</h1>
      </div>
      <%= form.submit 'Save settings', class: 'btn btn-primary' %>
    </div>

    <%= render partial: 'shared/flashes' %>

    <div class="mt-10 flex flex-col gap-y-10">

      <div class="card card-border border-base-300 bg-white">
        <div class="p-6">
          <div class="flex items-center gap-x-2">
            <i class="iconoir-globe text-primary text-xl"></i>
            <h3 class="font-bold">CTA title, description & button</h3>
          </div>
          <p class="opacity-70 mt-2">Title and description of the CTA component</p>
        </div>
        <div class="flex justify-between items-center border-y px-6 py-6">
          <div>
            <%= form.label :cta_enabled, "Show CTA component", class: "text-sm font-medium" %>
            <p class="text-xs text-gray-400">You can show and hide CTA component</p>
          </div>
          <%= form.check_box :cta_enabled, class: "toggle toggle-xl toggle-primary checked:bg-primary checked:text-white checked:border-primary" %>
        </div>
        <div class="flex flex-col gap-y-4 p-6">
          <div>
            <%= form.label :cta_title, "Title", class: "block text-sm font-medium mb-1" %>
            <%= form.text_field :cta_title, placeholder: 'Ready to get started?', class: "w-full text-sm mr-5" %>
          </div>

          <div>
            <%= form.label :cta_description, "Description", class: "block text-sm font-medium mb-1" %>
            <%= form.text_area :cta_description, placeholder: 'Sign up today and explore everything we have to offer!', class: 'w-full h-20 bg-white', disabled: @disable_controls %>
          </div>

          <div>
            <%= form.label :cta_button, "Button text", class: "block text-sm font-medium mb-1" %>
            <%= form.text_field :cta_button, placeholder: 'Sign up!', class: "w-full text-sm mr-5", disabled: @disable_controls %>
          </div>

          <div>
            <%= form.label :cta_button_link, "Sign up", class: "block text-sm font-medium mb-1" %>
            <%= form.url_field :cta_button_link, placeholder: 'https://example.com/sign-up', class: "w-full text-sm mr-5" %>
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>
