<% content_for :title, t('settings.general') %>
<div class="mx-auto max-w-3xl py-10">
  <%= form_with(model: @workspace_settings, url: settings_general_path, method: :patch) do |form| %>
    <%= link_to settings_path do %>
      <div class="flex gap-x-2 items-center text-sm opacity-70 cursor-pointer hover:opacity-50 active:opacity-40">
        <i class="iconoir-arrow-left"></i>
        <p><%= t('buttons.back_to_settings') %></p>
      </div>
    <% end %>
    <div class="flex justify-between mb-5 mt-2">
      <div>
        <h1 class="font-bold"><%= t('settings.general_page_settings') %></h1>
      </div>
      <%= form.submit t('buttons.save_settings'), class: 'btn btn-primary' %>
    </div>

    <%= render partial: 'shared/flashes' %>

    <div class="mt-10 flex flex-col gap-y-10">

      <div class="card card-border border-base-300 bg-white p-6">
        <div class="">
          <div class="flex items-center gap-x-2">
            <i class="iconoir-design-pencil text-primary text-xl"></i>
            <h3 class="font-bold"><%= t('settings.workspace_name') %></h3>
          </div>
          <p class="opacity-70 mt-2"></p>
        </div>

        <div class="flex flex-col gap-y-4 mt-5">
          <%= form.fields_for :workspace do |workspace_form| %>
            <div>
              <div class="flex justify-between">
                <%= workspace_form.label :title, t('settings.workspace_name'), class: "block text-sm font-medium mb-1" %>
                <p class="text-xs text-gray-400"><%= t('settings.page_name_hint') %></p>
              </div>
              <%= workspace_form.text_field :title, placeholder: t('settings.page_name_placeholder'), class: "w-full text-sm" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card card-border border-base-300 bg-white p-6">
        <div class="">
          <div class="flex items-center gap-x-2">
            <i class="iconoir-globe text-primary text-xl"></i>
            <h3 class="font-bold"><%= t('settings.language') %></h3>
          </div>
          <p class="opacity-70 mt-2"><%= t('settings.workspace_language') %></p>
        </div>

        <div class="flex flex-col gap-y-4 mt-5">
          <div>
            <div class="flex justify-between">
              <%= form.label :html_lang, t('settings.language'), class: "block text-sm font-medium mb-1" %>
            </div>
            <%= form.text_field :html_lang, maxlength: 2, placeholder: 'en', class: "w-full text-sm mr-5", disabled: @disable_controls %>
          </div>
          <div>
            <div class="flex justify-between">
              <%= form.label :locale, t('settings.workspace_language'), class: "block text-sm font-medium mb-1" %>
            </div>
            <%= form.text_field :locale, maxlength: 5, placeholder: 'en_US', class: "w-full text-sm mr-5", disabled: @disable_controls %>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>
