<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="<%= I18n.locale == :ar ? 'rtl' : 'ltr' %>">
<%= render "layouts/common_head" %>

<body>
<%= render "shared/masquerade_banner" %>
<%= render "shared/newsletter_navbar" %>
<main class="ml-[364px] mr-16 <%= 'pt-12' if session[:admin_id] %>">
  <%= turbo_frame_tag :flash %>
  <%= yield %>
</main>
</body>
</html>
