<div class="dropdown dropdown-end">
  <div class="btn btn-ghost capitalize" tabindex="0" role="button">
    <%= selected_text %> ▾
  </div>
  <ul tabindex="0" class="dropdown-content menu dropdown-list min-w-52">
    <li class="<%= selected_value.nil? ? 'font-bold' : '' %>">
      <%= link_to all_text, path.call(request.query_parameters.except(param_key)) %>
    </li>
    <% items.each do |item| %>
      <li class="<%= is_selected?(selected_value, item) ? 'font-bold' : '' %>">
        <%= link_to item_text.call(item),
                    path.call(request.query_parameters.merge("#{param_key}": item_value.call(item))) %>
      </li>
    <% end %>
  </ul>
</div>
