<% content_for :head do %>
  <%= render "public/shared/head/post", post: @post, breadcrumbs: default_breadcrumbs(@post.title) %>
<% end %>

<div class="">
  <section class="pt-5 md:pt-20">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="hero-header">
        <div class="breadcrumbs">
          <% default_breadcrumbs(@post.title).each do |breadcrumb| %>
            <% if breadcrumb[:url].present? %>
              <%= link_to(breadcrumb[:title], breadcrumb[:url]) %>
              <i class="iconoir-nav-arrow-right"></i>
            <% else %>
              <p class="breadcrumb-item">
                <%= breadcrumb[:title] %>
              </p>
            <% end %>
          <% end %>
        </div>

        <div class="mt-5">
          <div class="flex flex-col gap-y-5 md:gap-y-5">
            <!-- Title and metadata container -->
            <div class="flex items-start justify-between">
              <!-- Title -->
              <div class="w-full">
                <h1 class="text-left">
                  <%= @post.title %>
                </h1>
                <p class="text-lg font-medium opacity-80 mt-5"><%= @post.description %></p>


                <div class="opacity-80 flex-col md:flex-row mt-4">
                  <p>Published on
                    <time class="font-medium" datetime="<%= format_datetime(@post.first_published_at) %>">
                      <%= format_date(@post.first_published_at) %>
                    </time>
                  </p>
                </div>

                <!-- Tag -->
                <% if @post.category.present? %>
                  <div class="flex items-center mt-3 gap-x-2">
                      <p class="opacity-80">Category: </p>
                    <%= link_to @post.category.name, dynamic_prefix(public_category_path(@post.category)), class: "px-4 py-1 rounded-full w-fit font-medium hover:opacity-70 active:opacity-50 text-sm text-black", style: "background-color: #{@post.category.color}" %>
                  </div>
                <% end %>
                <div class="flex items-center mt-3 gap-x-2 opacity-80">
                  <p>Author: </p>
                  <%= link_to @main_author.formatted_name, dynamic_prefix(public_author_path(@main_author)), class: "font-medium pressable" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="h-px w-full my-5 bg-base-300"></div>
    </div>
  </section>
</div>

<div class="max-w-5xl mx-auto px-5 md:px-10 pb-20 mt-5 md:mt-12">
  <!-- Content Area -->
  <article class="prose prose-lg lg:prose-lg prose-img:rounded pb-10 max-w-none">
    <%= sanitize @post.content_html, scrubber: CustomScrubber.new %>
  </article>

  <div class="h-px w-full my-10 bg-base-300"></div>
  <div class="flex items-center justify-between flex-col md:flex-row gap-y-2">
    <h3>Share this update</h3>
    <%= render "public/shared/post/social-share" %>
  </div>
  <div class="h-px w-full my-10 bg-base-300"></div>

  <!-- CTA -->
  <%= render "public/shared/post/main_cta" %>
</div>


<%= @page_settings.body_html&.html_safe %>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8" onload="window.checkTweets()"></script>
