<% content_for :head do %>
  <%= render "public/shared/head/author", author: @author, breadcrumbs: author_breadcrumbs %>
<% end %>

<div class="min-h-screen">
  <section class="pt-5 md:pt-20">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="hero-header">
        <div class="breadcrumbs">
          <% author_breadcrumbs.each do |breadcrumb| %>
            <% if breadcrumb[:url].present? %>
              <%= link_to(breadcrumb[:title], breadcrumb[:url]) %>
              <i class="iconoir-nav-arrow-right"></i>
            <% else %>
              <p>
                <%= breadcrumb[:title] %>
              </p>
            <% end %>
          <% end %>
        </div>
        <div class="flex flex-col gap-4 sm:flex-row sm:items-center mt-5">
          <% if @author.avatar_picture.attached? %>
            <%= image_tag @author.avatar_picture, class: "h-20 w-20 shrink-0 object-cover rounded-full", alt: @author.formatted_name %>
          <% else %>
            <div class="h-20 w-20 shrink-0 object-cover rounded-full border border-dashed">
              <p>No image provided</p>
            </div>
          <% end %>
          <h1 class="text-left"><%= @author.formatted_name %></h1>
        </div>
        <p class="opacity-80 mt-2 md:mt-5 text-lg md:text-xl text-left">
          <%= @author.long_description %>
        </p>
        <div class="flex items-start mt-4 gap-x-3 w-full">
          <% @author.author_links.each do |link| %>
            <a class="w-10 h-10 rounded bg-black flex items-center justify-center" href="<%= link.url %>" target="_blank" rel="noopener noreferrer">
              <i class="<%= social_media_icon(link.title) %> text-white"></i>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-5 mb-10 md:mb-20 relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="space-y-10 w-full">
      <%= render partial: "public/changelog_1/pages/post", collection: @posts %>
    </div>
    <%= pagy_navigation %>
  </section>
</div>
