<%= turbo_frame_tag "edit_link" do %>
  <dialog id="my_modal_3" class="modal modal-open">
    <div class="modal-box">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" data-action="click->links#closeModal">✕</button>
      <h3 class="font-bold text-lg">Edit header link</h3>
      <p class="mt-2 text-sm text-gray-400">Edit the details of the link.</p>
      <%= form_with(model: @link, url: pages_settings_link_path(@page, @link), local: false, turbo: true, data: { action: 'submit->links#closeModal' }) do |form| %>
        <div class="flex flex-col gap-y-2 mt-4">
          <% if @link.link_type == 'link' %>
            <div>
              <%= form.label :title, class: "block text-sm font-medium mb-1" %>
              <%= form.text_field :title, placeholder: 'Title of the link', class: "w-full text-sm mr-5" %>
            </div>
          <% end %>

          <% if @link.link_type == 'social_media' %>
            <div>
              <%= form.label :title, "Social media", class: "block text-sm font-medium mb-1" %>
              <%= form.select :title,
                              options_for_select(@social_media_options, selected: @link.title),
                              {},
                              { class: "select select-bordered w-full" }
              %>
            </div>
          <% end %>

          <div>
            <%= form.label :url, class: "block text-sm font-medium mb-1" %>
            <%= form.url_field :url, placeholder: 'https://example.com/blog', class: "w-full text-sm mr-5" %>
          </div>

          <%= form.hidden_field :link_type, value: 'link', class: "w-full text-sm mr-5" %>
          <%= form.hidden_field :location, value: @link.location %>
          <%= form.submit 'Update link', class: 'btn btn-neutral mt-2' %>
        </div>
      <% end %>
    </div>
  </dialog>
<% end %>
