<% content_for :title, "Newsletter settings" %>

<div class="mx-auto py-10" data-controller="newsletter_domain">
  <%= form_with(model: @newsletter_settings, url: newsletters_settings_newsletter_domain_path, method: :patch) do |form| %>
    <div class="max-w-3xl mx-auto">
      <%= link_to newsletters_settings_path do %>
        <div class="flex gap-x-2 items-center text-sm opacity-70 cursor-pointer hover:opacity-50 active:opacity-40">
          <i class="iconoir-arrow-left"></i>
          <p>Back to settings</p>
        </div>
      <% end %>
      <div class="flex justify-between mb-5 mt-2 max-w-3xl mx-auto">
        <div>
          <h1 class="font-bold"><%= t('newsletters.general_settings_title') %></h1>
        </div>
        <%= form.submit t('buttons.save_settings'), class: 'btn btn-primary' %>
      </div>

      <%= render partial: 'shared/flashes' %>
    </div>

    <div class="mt-10 flex flex-col gap-y-10 max-w-3xl mx-auto">

      <div class="card card-border border-base-300 bg-white p-6">
        <div class="">
          <div class="flex items-center gap-x-2">
            <i class="iconoir-globe text-primary text-xl"></i>
            <h3 class="font-bold"><%= t('form.general_section') %></h3>
          </div>
          <p class="opacity-70 mt-2"><%= t('newsletters.general_info') %></p>
        </div>

        <div class="flex flex-col gap-y-4 mt-5">
          <%= form.fields_for :newsletter do |newsletter_form| %>
            <div>
              <div class="flex justify-between">
                <%= newsletter_form.label :name, t('newsletters.newsletter_name'), class: "block text-sm font-medium mb-1" %>
                <p class="text-xs text-gray-400"><%= t('newsletters.newsletter_name_hint') %></p>
              </div>
              <%= newsletter_form.text_field :name, placeholder: t('newsletters.newsletter_name_placeholder'), class: "w-full text-sm" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card card-border border-base-300 bg-white p-6">
        <div class="flex justify-between">
          <div class="">
            <div class="flex items-center gap-x-2">
              <i class="iconoir-quote-message text-primary text-xl"></i>
              <h3 class="font-bold"><%= t('newsletters.personalization_title') %></h3>
            </div>
            <p class="opacity-70 mt-2"><%= t('newsletters.personalization_description') %></p>
          </div>
        </div>
        <div class="flex flex-col gap-y-4 mt-5">
          <%= render "shared/file_input",
                     form: form,
                     image: @newsletter_settings.logo,
                     field: :logo,
                     field_label: t('newsletters.logo'),
                     size: 'w-[140px] h-[45px]',
                     recommendation: t('newsletters.logo_recommendation')
          %>
          <div>
            <div class="flex justify-between mt-4">
              <%= form.label :footer, t('newsletters.email_footer'), class: "block text-sm font-medium mb-1" %>
              <p class="text-xs text-gray-400"><%= t('newsletters.email_footer_hint') %></p>
            </div>
            <div class="flex items-center">
              <%= form.text_area :footer, class: "w-full h-20 text-sm", placeholder: t('newsletters.email_footer_placeholder') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
