<% content_for :head do %>
  <%= render "public/shared/head/page" %>
<% end %>

<div class="">
  <section class="pt-10 md:pt-20">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="hero-header">
        <h1 class="text-left"><%= @page_settings.title %></h1>
        <p class="mt-7 text-left max-w-2xl text-lg"><%= @page_settings.description %></p>
      </div>
    </div>
  </section>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pb-10 md:pb-20">
    <section class="flex flex-col gap-y-10 w-full">
      <%= render partial: "public/changelog_1/pages/post", collection: @posts %>
      <%= link_to "View all", dynamic_prefix(public_archive_path), class: "btn btn-sm w-fit mx-auto" %>
    </section>
  </div>
</div>
