<section class="hero text-center py-12 bg-primary text-white relative">
  <div class="wrapper px-10">
    <h1 class="font-extrabold"><%= @page_settings.title %></h1>
    <p class="mt-3 mx-auto w-full lg:w-96">Expand your SEO and marketing knowledge with detailed tutorials and case
      studies.</p>
  </div>
  <i class="iconoir-bookmark-solid text-3xl md:text-4xl text-red-400 absolute -bottom-3 left-1/2 -translate-x-1/2"></i>
</section>
<section class="posts mt-14 relative">
  <div class="wrapper grid grid-cols-2 gap-y-16">
    <%= render partial: "public/basic/pages/post", collection: @page.posts %>
  </div>
</section>
<div class="w-full h-px bg-gray-200 my-10"></div>
<% @category_tree.each do |category_hash| %>
  <% if category_hash[:posts].any? %>
    <section>
      <div class="wrapper flex flex-col items-center text-center">
        <h2 class="mb-5 font-bold"><%= link_to category_hash[:category].name, dynamic_prefix(public_category_path(category_hash[:category])), class: "text-black" %></h2>
        <p class="w-2/3"><%= category_hash[:category].description %></p>
        <div class="wrapper grid grid-cols-3 gap-y-16 mt-10 gap-x-5 text-left">
          <%= render partial: "public/basic/authors/post", collection: category_hash[:posts] %>
        </div>
        <%= link_to "View all", dynamic_prefix(public_category_path(category_hash[:category])), class: "btn btn-sm" %>
      </div>
    </section>
  <% end %>
<% end %>
