<% content_for :title, "Settings" %>
<div class="py-10">
  <div class="">
    <h1>Page Settings</h1>
    <p class="text-base opacity-80 mt-2">Manage your page settings and preferences.</p>
  </div>

  <div class="mt-10 flex flex-col gap-y-12">

    <div>
      <div class="flex items-center gap-x-2 text-xl">
        <i class="iconoir-globe text-primary"></i>
        <h2 class="">Page</h2>
      </div>
      <div class="w-ful h-px bg-base-300 mt-2 mb-4"></div>
      <div class="grid grid-cols-3 gap-x-4 gap-y-8">
        <%= render "shared/setting_card",
                   path: edit_pages_settings_general_path,
                   title: 'General',
                   description: 'General blog settings such as title, description & language',
                   button_title: 'Configure settings',
                   icon: 'iconoir-settings'
        %>
        <%= render "shared/setting_card",
                   path: edit_pages_settings_header_path,
                   title: 'Header',
                   description: 'Customize your blog\'s header layout and navigation menu',
                   button_title: 'Edit header',
                   icon: 'iconoir-view-structure-up'
        %>
        <%= render "shared/setting_card",
                   path: edit_pages_settings_footer_path,
                   title: 'Footer',
                   description: 'Customize your blog\'s footer content and links',
                   button_title: 'Edit footer',
                   icon: 'iconoir-view-structure-down'
        %>
        <%= render "shared/setting_card",
                   path: edit_pages_settings_layout_path,
                   title: 'Layout & Design',
                   description: 'Manage blog\'s layout and design',
                   button_title: 'Customize design',
                   icon: 'iconoir-view-grid'
        %>
        <%= render "shared/setting_card",
                   path: edit_pages_settings_cta_path,
                   title: 'Call-to-action settings',
                   description: 'CTA settings',
                   button_title: 'Edit CTA',
                   icon: 'iconoir-cursor-pointer'
        %>
        <%= render "shared/setting_card",
                   path: edit_pages_settings_newsletter_path,
                   title: 'Newsletter settings',
                   description: 'Change Newsletter CTA & choose newsletter group',
                   button_title: 'Edit newsletter settings',
                   icon: 'iconoir-cursor-pointer'
        %>
      </div>
    </div>

    <div>
      <div class="flex items-center gap-x-2 text-xl">
        <i class="iconoir-mail text-primary"></i>
        <h2 class="">Advanced</h2>
      </div>
      <div class="w-ful h-px bg-base-300 mt-2 mb-4"></div>
      <div class="grid grid-cols-3 gap-x-4 gap-y-4">
        <%= render "shared/setting_card",
                   path: edit_pages_settings_domain_path,
                   title: 'Domain & subfolder',
                   description: 'Setup blog public domain and subfolder',
                   button_title: 'Setup domain',
                   icon: 'iconoir-internet'
        %>
        <%= render "shared/setting_card",
                   path: edit_pages_settings_code_path,
                   title: 'Code injection',
                   description: 'Insert head or body HTML',
                   button_title: 'Inject custom code',
                   icon: 'iconoir-code'
        %>
      </div>
    </div>

  </div>
</div>