<div class="relative isolate flex flex-col gap-8 lg:flex-row lg:items-start">
  <%= link_to dynamic_prefix(public_post_path(post)), class: 'relative h-50 aspect-[16/9] pressable' do %>
    <% if post.cover_image.persisted? %>
      <%= image_tag post.cover_image, class: "absolute h-full w-full bg-secondary-50 object-cover inset-0 rounded-2xl", alt: post.title %>
    <% else %>
      <div class="absolute h-full w-full bg-secondary-50 object-cover inset-0 rounded-2xl border border-dashed flex items-center justify-center">
        <i class="iconoir-mask-square text-3xl text-base-300"></i>
      </div>
    <% end %>
  <% end %>
  <div>
    <div class="article-tags-list flex flex-wrap items-center gap-3">
      <% if post.category.present? %>
        <%= link_to dynamic_prefix(public_category_path(post.category)), class: 'pressable' do %>
            <span class="px-3 py-1 rounded-full text-xs font-medium text-black" style="background-color: <%= post.category.color %>">
              <%= post.category.name %>
            </span>
        <% end %>
      <% end %>
      <span class="article-publish-date text-sm font-medium opacity-80">
        <time datetime="<%= format_datetime(post.updated_at) %>">
          <%= format_date(post.updated_at) %>
        </time>
      </span>
    </div>
    <%= link_to dynamic_prefix(public_post_path(post)), class: 'group relative block mt-5 pressable' do %>
      <h3 class="article-title font-bold tracking-tight"><%= post.title %></h3>
      <p class="article-excerpt text-base font-normal opacity-80 line-clamp-2 mt-2">
        <%= post.description %>
      </p>
    <% end %>
    <p class="text-sm font-semibold uppercase tracking-wide mt-5 hover:opacity-70">
      <%= link_to "Continue reading →", dynamic_prefix(public_post_path(post)), class: 'pressable' %>
    </p>
  </div>
</div>