<article class="w-full border">
  <h2 class="mt-2">Title: <span class="font-bold"><%= link_to post.title, dynamic_prefix(public_post_path(post)), class: "text-neutral"  %></span></h2>
  <p class="mt-2">Short summary: <span class="ml-2 font-bold"><%= post.title %></span></p>
  <% if post.authors.any? %>
    <%= link_to dynamic_prefix(public_author_path(post.authors.first)), class: "text-neutral" do %>
      <div class="flex items-center mt-5">
        <p class="inline-block align-middle">Author: <span class="ml-2 font-bold"><%= post.authors.first.formatted_name %></span></p>
      </div>
    <% end %>
  <% end %>
  <div class="flex font-medium text-sm">
    <p class="">Category: <a href="#" class="font-bold"> <%= post.category.present? ? post.category.name : '-' %></a></p>
    <p class="mx-2">/</p>
    <p>Date updated: <span class="font-bold"><%= format_date(post.updated_at) %></span></p>
  </div>
</article>
