<% content_for :head do %>
  <%= render "public/shared/head/page" %>
<% end %>

<section class="hero text-center py-12 relative">
  <div class="wrapper px-10 border">
    <h1 class="font-extrabold"><%= @page_settings.title %></h1>
    <p class="mt-3 mx-auto w-full lg:w-96"><%= @page_settings.description %></p>
  </div>
</section>
<section class="mt-14 relative max-w-5xl mx-auto">
  <h3 class="font-bold mb-5">Newest articles</h3>
  <div class="flex flex-col gap-y-5">
    <%= render partial: "public/barebone/pages/post", collection: @posts %>
  </div>
  <div class="flex items-center justify-center mt-5">
    <%= link_to "View all", dynamic_prefix(public_archive_path), class: "btn btn-sm" %>
  </div>
</section>
<div class="w-full h-px bg-gray-200 my-10"></div>
<% @category_tree.each do |category_hash| %>
  <% if category_hash[:posts].any? %>
    <section class="border">
      <div class="wrapper flex flex-col items-center text-center">
        <h2 class="mb-5">Category: <span class="font-bold"><%= link_to category_hash[:category].name, dynamic_prefix(public_category_path(category_hash[:category])), class: "text-black" %></span></h2>
        <p class="w-2/3">Category description: <span class="font-bold"><%= category_hash[:category].description %></span></p>
        <div class="wrapper grid grid-cols-3 gap-y-16 mt-10 gap-x-5 text-left">
          <%= render partial: "public/barebone/authors/post", collection: category_hash[:posts] %>
        </div>
        <%= link_to "View all", dynamic_prefix(public_category_path(category_hash[:category])), class: "btn btn-sm" %>
      </div>
    </section>
  <% end %>
<% end %>
